@import "../abstracts/variables";

.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-content {
    white-space: pre-wrap;
  }
  &-left {
    text-align: left;
  }
}
@each $name,
  $color
    in (
      ("main", $color-main),
      ("trans-02", rgba(24, 24, 24, 0.2)),
      ("trans-04", rgba(0, 0, 0, 0.4)),
      ("trans-05", rgba(255, 255, 255, 0.5)),
      ("red", #f7bae8),
      ("orange", #f2994a),
      ("yellow", #f2c94c),
      ("green", #b1ff9d),
      ("blue", #84a9ff),
      ("violet", #e2c9fc),
      ("green-1", #b1ff9d),
      ("blue-1", #56ccf2),
      ("purple", #bb6bd9),
      ("gray", #738699),
      ("yellow-1", #fadd56),
      ("blue-2", #2063f0),
      ("white", #fff),
      ("kok", #2b385e)
    )
{
  .color-#{$name} {
    color: #{$color};
  }
}
.nowrap {
  white-space: nowrap;
}
