@import "../base/animations";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  transition: opacity 0.2s linear, transform 0.2s ease-out;
  opacity: 0;
  transform: translateY(-30px);
  padding: 20px;
  overflow: auto;
  &-sm {
    .modal__content {
      max-width: 550px;
      width: 100%;
    }
  }

  &__wrap {
    background: #ffffff;
    border-radius: 20px;
    max-height: 85vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__content {
    max-width: 1192px;
    width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1;
    margin: auto;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0px);
    overflow-x: hidden;
    transition: transform 0.2s ease-out;
  }

  &__close {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      -webkit-animation: rotate-center 0.6s ease-in-out both;
      animation: rotate-center 0.6s ease-in-out both;
    }

    svg {
      color: #fff;
      width: 15px !important;
      height: 15px !important;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000009c;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 700px) {
  .modal__close {
    right: 0;
    top: -40px;
  }
}
